* {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

html {
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  width: 100%;
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-form {
  padding: 20px 0;
}

.search-form input {
  padding: 4px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #e4f6f7;
  box-shadow: 0 0 0 2px #e4f6f7;
  margin-right: 8px;
}

.search-form input:focus-within {
  box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.1);
}

.search-form button {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  background-color: #e4f6f7;
  cursor: pointer;
  transition: 0.4s;
}

.search-form button:hover {
  background-color: #83a4d4;
}

.lightbox {
  color: #343434;
  transition: 0.4s;
}

.lightbox:hover {
  transform: scale(1.01);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #e4f6f7;
}

.photo-card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 240px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.loader {
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}